@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  @apply font-sans;
}

/* Skewed background layer */
.skewed-linear {
  position: absolute;
  top: 40px;
  left: -15;
  width: 100vw; /* Lebih aman daripada 100% untuk background full */
  height: 600px;
  background: linear-gradient(to right, rgba(22, 179, 172, 0.4), rgba(210, 220, 2, 0.2));
  clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0 100%);
  z-index: -10;
  pointer-events: none;
  overflow: hidden;
}

/* Small screens (max-width: 640px) */
@media (max-width: 640px) {
  .skewed-linear {
    top: 0px;
    height: 530px;
    clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
  }
}


/* Custom range for screens 641px - 767px */
@media (min-width: 641px) and (max-width: 767px) {
  .skewed-linear {
    top: 30px;
    height: 520px;
    clip-path: polygon(0 18%, 100% 18%, 100% 100%, 0 100%);
  }
}

/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
  .skewed-linear {
    top: 50px;
    height: 500px;
    clip-path: polygon(0 15%, 100% 15%, 100% 100%, 0 100%);
  }
}

/* Large screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .skewed-linear {
    top: 30px;
    height: 500px;
    clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0 100%);
  }
}


