@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  @apply font-sans;
}

.skewed-linear {
  position: absolute;
  top: 153px;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, rgba(22, 179, 172, 0.4), rgba(210, 220, 2, 0.2));
  clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0 100%);
  z-index: -10;
  pointer-events: none;
}

